:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --greenshadow: hsla(154, 59%, 51%, 0.2);
    --blue: hsl(248, 32%, 49%);
    --blueshadow: hsla(248, 32%, 49%, 0.2);
    --darkblue: hsl(249, 10%, 26%);
    --darkblueshadow: hsla(249, 10%, 26%, 0.2);
    --grayblue: hsl(246, 25%, 77%);
}

body {
    background-color: var(--red);
    background-image: url('images/bg-intro-desktop.png');
    color: white;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 48px;
    line-height: 1.2;
}

p {
    font-size: 16px;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 75px;
    margin-inline: 160px;
    margin-block: 120px;
    align-items: center;
}

#offer {
    margin-block: 24px;
    padding-inline: 112px;
    padding-block: 24px;
    background-color: var(--blue);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 10px var(--blueshadow);
}

form {
    background-color: white;
    padding-inline: 40px;
    padding-block: 20px;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 10px rgba(0,0,0,0.2);
}

input {
    display: block;
    width: calc(100% - 60px);
    margin-block: 20px;
    padding-inline: 28px;
    padding-block: 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border: 2px solid var(--grayblue);
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: 2px solid var(--darkblue);
}

button {
    display: block;
    background-color: var(--green);
    color: white;
    width: 100%;
    padding-block: 24px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: 2px solid var(--green);
    letter-spacing: 0.2em;
    box-shadow: 0px 2px var(--greenshadow);
}

#disclaimer {
    margin-top: 20px;
    font-size: 11px;
    color: var(--grayblue);
    text-align: center;
}

#t-and-c {
    color: var(--red);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
